<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VidFlow</title>
    <link rel="shortcut icon" href="../img/Favicon.png" type="image/x-icon">
</head>

<body>
    <main class="inserirVideo__container">
        <form class="formulario__inserirVideo">
            <div class="inserir__titulo">
                <label for="titulo" class="titulo-label">Titulo</label>
                <input type="text" name="" id="titulo" class="titulo-input" data-titulo>
            </div>
            <div class="inserir__url">
                <label for="url" class="url-label">url</label>
                <input type="text" name="" id="url" class="url-input" data-url>
            </div>
            <div class="inserir__imagem">
                <label for="imagem" class="imagem-label">imagem</label>
                <input type="text" name="" id="imagem" class="imagem-input" data-imagem>
            </div>
            <div class="inserir__categoria">
                <label for="categoria" class="categoria-label">categoria</label>
                <input type="text" name="" id="categoria" class="categoria-input" data-categoria>
            </div>

            <input type="submit" value="Adicionar">
        </form>
    </main>

    <script src="../javascripts/inserirVideo.js"></script>
</body>

</html>